# Project exclude paths
/.dart_tool/
lib/services/firebase_options.dart
assets/tugaskuappid-firebase-adminsdk-axcfu-0645dd0904.json

# Build files
build/
**/build/
ios/build/
android/build/
web/build/
windows/build/
macos/build/
linux/build/